@font-face
{
	font-family: Harabara;
	src: url('../fonts/Harabara.ttf');
}

body {
	font-size: small!important;
	background: url('../images/binding_dark.png');
}

h1 {
	color: #eee;
	font-family: 'Harabara';
}

table {
	background-color: #fff;
}

.bold {
	font-weight: bold;
}

#table-outgoings td {
	vertical-align: middle;
}

.input-border-bottom {
	border: 0;
	border-bottom: 2px solid #ccc;
}

.positif {
	color: green;
}

.negatif {
	color: red;
}

.text-size-medium {
	font-size: 16px;
}

td {
	padding: 10px!important;
}