@font-face
{
	font-family: Harabara;
	src: url('../fonts/Harabara.ttf');
}

body {
	font-size: small!important;
	background: url('../images/binding_dark.png');
}

h1 {
	color: #eee;
	font-family: 'Harabara';
}

table {
	background-color: #fff;
}

.bold {
	font-weight: bold;
}

.cool-font {
	font-family: "Harabara";
	font-size: 20px;
}

/** Bootstrap Customs **/

.navbar-default {
	background-color: #F66F60;
	border: none;
}

.navbar-default .navbar-nav>li>a , .navbar-default .navbar-header>a {
	color: #fff;
}



/** end Bootstrap Customs **/

.account-widget {
	background: #08d6bb;
	padding: 10px;
	margin-bottom: 20px;
	color: #fff;
}

.account-widget a {
	color: #fff;
}

.account-widget a:hover {
	text-decoration: none;
}

#table-outgoings td {
	vertical-align: middle;
}

.input-border-bottom {
	border: 0;
	border-bottom: 2px solid #ccc;
}

.positif {
	color: green;
}

.negatif {
	color: red;
}

.text-size-medium {
	font-size: 16px;
}

td {
	padding: 10px!important;
}