
<h1>{{account.name}} <span class="glyphicon glyphicon-asterisk"></span> {{account.balance | currency}}</h1>
<div class="row">
	<div class="col-md-10 col-md-offset-1 col-xs-12">
		<div class="row">
			<table class="table table-bordered table-hover" id='table-outgoings'>
				<thead>
					<tr>
						<th class='col-md-7 col-xs-7'>Label</th>
						<th class='col-md-3 col-xs-3'>Amount</th>
						<th class='col-md-2 col-xs-2'>Checked</th>
					</tr>
				</thead>
				<tbody class=''>
					<tr ng-repeat='outgoing in outgoings' ng-class='{success: outgoing.checked}'>
						<td> {{outgoing.label}} 
							<span ng-if='!outgoing.checked' ng-click='delete(outgoing)' class="pull-right glyphicon glyphicon-trash"></span> 
						</td>
						<td ng-class='{positif: outgoing.amount >=0, negatif: outgoing.amount <0 }'>
							{{outgoing.amount | currency}}
						</td>
						<td >
							<input ng-checked='outgoing.checked' ng-click='checkAction(outgoing)' ng-model='outgoing.checked' type='checkbox'>
						</td>
					</tr>
					<tr class="bold">
						<td class="text-size-medium">Total</td>
						<td class='text-size-medium'>{{preBalance | currency}}</td>
						<td class='text-size-medium'>{{account.balance | currency}}</td>
					</tr>
					<tr>
						<form ng-submit='add2()'>
							<td>
								<input class='form-control input-lg input-border-bottom' type='text' ng-model='label' placeholder='Label'>
							</td>
							<td>
								<input class='form-control input-lg input-border-bottom' type='text' ng-model='amount' placeholder='Amount'>
							</td>
							<td>
								<button class='btn' type='submit' ng-click='add()'>Add</button>
							</td>
						</form>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
