<h1>Users</h1>

<div class="row">
	<div class="col-md-10 col-md-offset-1 col-xs-12">
		<div class="row">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th class='col-md-4 col-xs-4'>Login</th>
						<th class='col-md-4 col-xs-4'>Name</th>
						<th class='col-md-4 col-xs-4'>Password</th>
						<th class='col-md-4 col-xs-4'>Action</th>
					</tr>
				</thead>
				<tbody class=''>
					<tr ng-repeat='user in users'>
						<td>{{user.login}}</td>
						<td>{{user.name}}</td>
						<td>-_-"</td>
						<td>
							<span class="glyphicon glyphicon-trash trash" ng-click="delete(user)"></span>
						</td>

					</tr>
					<tr>
						<td>
							<input class="form-control input-lg input-border-bottom ng-pristine ng-valid" type="text" ng-model="login" placeholder="Login">
						</td>
						<td>
							<input class="form-control input-lg input-border-bottom ng-pristine ng-valid" type="text" ng-model="name" placeholder="Name">
						</td>
						<td >
							<input class="form-control input-lg input-border-bottom ng-pristine ng-valid" type="password" ng-model="password" placeholder="Password">
						</td>
						<td>
							<input type="button" value="Add" ng-click="add()" class="btn btn-custom btn-lg">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

